/* 도움용 CSS */
.container { width: 935px; margin: 0 auto;}
.clearfix { overflow: auto; }
.clearfix:after { content: ''; display: table; clear: both }
.helper {display: inline-block; vertical-align: middle;}
.modalOpen{ cursor: pointer;}
.scrollHidden { overflow: hidden;}

html { height: 100%; }
body { background-color: #fafafa; height: 100%; padding-top: 54px; box-sizing: border-box;}

/* header */
#header {height: 54px; position: fixed; top: 0; z-index: 50; }
.h_fixed { z-index: 2; background-color: white; position: fixed; width: 100%; border-bottom: 1px solid; border-color: rgb(219,219,219);}
.h_contents{ height: 54px; position: relative;}
.h_left .logoImg {width: 110px; height: 38px; margin-top: 8px;}
.h_center {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: rgba(var(--b3f, 250, 250, 250), 1);}
.h_center input { box-sizing: border-box; border: 1px solid rgb(219,219,219); border-radius: 3px; height: 24px; width: 207px; padding-left: 26px; background-color: rgba(var(--d87,255,255,255),1);}
.h_center .h_center_icon_pos {position: absolute; top: 50%; left: 3% ; transform: translateY(-50%);}
.h_center .h_center_icon_pos .fa-search { font-size: 14px; color: rgba(var(--f52,142,142,142),1); }
.h_right { position: absolute; top: 50%; right: 0; transform: translateY(-50%);}
.h_right .h_right_icon>li { display: inline-block; margin-left: 22px;}
.h_right .h_right_icon>li:last-child{ position: relative;}
.h_right .userImg { width: 22px; height: 22px; border-radius: 50%;}
.h_right .user_bg { position: absolute; border: 1px solid #262626; width: 26px; height: 26px; border-radius: 50%; left: 50%; top: 45%; transform: translate(-50%, -50%);}

/* 헤더에 사용되는 모달 */
.h_right .header_modal_cancell { position: fixed; width: 100vw; height: 100vh; top: -15px; z-index: 2; background-color: transparent !important;}
.h_right .modal_user_background {  top: 40px !important; right:-27px; left: auto !important; transform: none !important;}
.h_right .modal_user_background>.header_modal_user_icon{ width: 14px; height: 14px; transform: rotate(225deg); box-shadow: 1px 1px 0px 1px rgba(var(--jb7,0,0,0),.0975); background: rgba(var(--d87,255,255,255),1); position: absolute; top: -8px; right: 30px;}
.h_right .modal_user_background .herder_modal_user_list li { width: 197.965px; height: 20.979px; padding: 8px 16px;}
.h_right .modal_user_background .herder_modal_user_list li .header_modal_user_icon { float: left; margin-right: 12px;}
.h_right .modal_user_background .herder_modal_user_list li:last-child { border-top: 1px solid rgba(var(--b38,219,219,219),1);}

.h_right .modal_like_background { top: 40px !important; right: -10px; left: auto !important; transform: none !important;}
.h_right .modal_like_background>.header_modal_like_icon { width: 14px; height: 14px; transform: rotate(225deg); box-shadow: 1px 1px 0px 1px rgba(var(--jb7,0,0,0),.0975); background: rgba(var(--d87,255,255,255),1); position: absolute; top: -8px; right: 63px; }
.h_right .modal_like_background .herder_modal_like_list li { font-size: 0; width: 468px; padding: 12px 16px 13px 12px; position: relative;}
.h_right .modal_like_background .herder_modal_like_list li:after{ content: ""; border-bottom: 1px solid #dbdbdb; position: absolute; bottom: 0; height: 0; left: 58px; right: 12px;}
.h_right .modal_like_background .herder_modal_like_list li:last-child:after { width: 0;}
.h_right .modal_like_background .herder_modal_like_list .modal_like_userImg { width: 34px; height: 34px; display: inline-block; vertical-align: middle;}
.h_right .modal_like_background .herder_modal_like_list .modal_like_userImg .modal_like_userImg_bg {display: inline-block; border: 1px solid rgb(220,220,220); border-radius: 50%; position: relative; width: 38px; height: 38px;}
.h_right .modal_like_background .herder_modal_like_list .modal_like_userImg .modal_like_userImg_bg>img { width: 34px; height: 34px; border-radius: 50%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.h_right .modal_like_background .herder_modal_like_list .modal_like_msg { overflow: hidden; text-overflow: ellipsis; box-sizing: border-box; display: inline-block; width: 370px; margin: 0 12px; font-size: 14px; color: #262626; vertical-align: middle;}
.h_right .modal_like_background .herder_modal_like_list .follow { width: 348px;}
.h_right .modal_like_background .herder_modal_like_list .modal_like_msg .modal_like_msg_from { color: #262626; font-weight: 600; font-size: 14px;}
.h_right .modal_like_background .herder_modal_like_list .modal_like_msg .modal_like_msg_to { color: #00376b; font-size: 14px;}
.h_right .modal_like_background .herder_modal_like_list .modal_like_postImg { display: inline-block; font-size: 0; vertical-align: middle;}
.h_right .modal_like_background .herder_modal_like_list .modal_like_postImg img { width: 40px; height: 40px;}
.h_right .modal_like_background .herder_modal_like_list .modal_like_btn { display: inline-block; vertical-align: middle;}
.h_right .modal_like_background .herder_modal_like_list .modal_like_btn button { background-color: #0095f6; border: 0; border-radius: 4px; font-size: 14px; font-weight: 600; padding: 5px 9px; color: white;}

/* 모달 공통 */
.modal { display: none; }
.modal_cancell_ground { background-color: rgba(0,0,0,.65); position: fixed; ; z-index: 55; top: 0; bottom: 0; left: 0; right: 0; }
.modal_background { position: absolute; border: 1px solid white; border-radius: 6px; box-shadow: 0 0 5px 1px rgba(var(--jb7,0,0,0), .30975); background-color: white; z-index: 80; left: 50%; transform: translate(-50%, -50%);}
.modal_size { width: 400px;}

/* 사용자 전환 */
.modal_userChange_top { position: relative;}
.modal_userChange_top .modal_userChange_text { font-size: 16px; font-weight: 600; height: 42px; line-height: 42px; text-align: center;}
.modal_userChange_top .modal_userChange_icon { cursor: pointer; position: absolute; right: 15px; top: 50%; transform: translateY(-50%); font-size: 20px;}
.modal_userChange_center { min-height: 144px; box-sizing: border-box; border-top: 1px solid #dbdbdb; border-bottom: 1px solid #dbdbdb;}
.modal_userChange_center .modal_userChange_center_content { padding: 8px 16px 8px 10px; position: relative;}
.modal_userChange_center_content .modal_userChange_center_img { display: inline-block; vertical-align: middle; margin-right: 5px; }
.modal_userChange_center .modal_userChange_center_img img { width: 56px; height: 56px; border-radius: 50%; }
.modal_userChange_center_content .modal_userChange_center_text { display: inline-block; vertical-align: middle; font-size: 16px; font-weight: 600; color: #262626}
.modal_userChange_center_content .modal_userChange_center_icon { display: inline-block; vertical-align: middle; position: absolute; top: 50%; right: 16px; transform: translateY(-50%);}
.modal_userChange_bottom .modal_userChange_login { color: #0095f6; font-size: 14px; text-align: center; font-weight: 600; height: 50px; line-height: 50px;}
.modal_userChange_bottom .modal_userChange_login p { cursor: pointer; display: inline-block; }

/* 사용자 게시글 */
.postContent_size { max-width: 935px; width: 100%; border: none; border-radius: 0;}
.modal_size_cancel { width: auto; font-size: 0;}
.postContent_left { display: inline-block; width: calc(100% - 335px); }
.postContent_left .postContent_left_size {  line-height: 600px; background-color: black; }
.postContent_left .postContent_left_size .postContent_left_content { width: 100%; height: 100%; }
.postContent_left .postContent_left_size img { width: 100%; vertical-align: middle;}


.postContent_right{ height: 600px; display: inline-block; vertical-align: top; }
.postContent_right .postContent_right_top { position: relative; width: 335px; padding: 16px; border-bottom: 1px solid #efefef; box-sizing: border-box;}
.postContent_right .postContent_right_top .postContent_right_top_img { margin-right: 14px; display: inline-block; vertical-align: middle; }
.postContent_right .postContent_right_top .postContent_right_top_img img { width: 32px; height: 32px; border-radius: 50%; }
.postContent_right .postContent_right_top .postContent_right_top_user { display: inline-block; vertical-align: middle; }
.postContent_right .postContent_right_top .postContent_right_top_user p a { display: inline-block; vertical-align: middle; font-size: 14px; font-weight: 600; padding: 2px;}
.postContent_right .postContent_right_top .postContent_right_top_user p span { border: 1px solid #000;margin: 0 4px; display: inline-block; vertical-align: middle;}
.postContent_right .postContent_right_top .postContent_right_top_user p button {margin-left: 3px; background: 0; border: 0; font-size: 14px; font-weight: 600; display: inline-block; vertical-align: middle; padding: 0}
.postContent_right .postContent_right_top .postContent_right_top_icon {position: absolute; top: 50%; right: 17px; transform: translateY(-50%);font-size: 16px; display: inline-block; vertical-align: middle; }

.postContent_right .postContent_right_middle { overflow: scroll; font-size: 16px; height: calc(100% - 215px); border-bottom: 1px solid #efefef; border-left: 1px solid #efefef;padding-left: 12px; -ms-overflow-style: none;scrollbar-width: none; }
.postContent_right .postContent_right_middle::-webkit-scrollbar { display: none; }
.postContent_right_middle_content { margin-top: 25px; }
.postContent_right_middle_content:last-child{ margin-bottom: 20px;}
.postContent_right_middle_content img { margin-right: 6px; width: 32px; height: 32px; display: inline-block; border-radius: 50%; vertical-align: top;}
.postContent_right_middle_content .postContent_right_middle_text { display: inline-block;}
.postContent_right_middle_content .postContent_right_middle_text > p { width: 222px; word-break:break-all; display: inline-block;}
.postContent_right_middle_content .postContent_right_middle_text .postContent_right_middle_subInfo_contents { margin-top: 16px; font-size: 0; font-weight: 400; color: #8e8e8e;}
.postContent_right_middle_content .postContent_right_middle_text .postContent_right_middle_subInfo_contents .postContent_right_middle_time { margin-right: 12px; font-size: 12px; display: inline-block;}
.postContent_right_middle_content .postContent_right_middle_text .postContent_right_middle_subInfo_contents .postContent_right_middle_liked { margin-right: 12px; font-size: 14px; font-weight: 600; display: inline-block;}
.postContent_right_middle_content .postContent_right_middle_text .postContent_right_middle_subInfo_contents .postContent_right_middle_comment { font-size: 14px; font-weight: 600; display: inline-block;}
.postContent_right_middle_content .postContent_right_middle_text .postContent_right_middle_more .postContent_right_middle_more_btn { border: 0; background: 0; padding: 0; font-size: 0; margin-top: 16px; }
.postContent_right_middle_content .postContent_right_middle_text .postContent_right_middle_more .postContent_right_middle_more_btn .postContent_right_middle_more_line { width: 24px; border-top: 1px solid #8e8e8e; display: inline-block; vertical-align: middle; margin-right: 16px; }
.postContent_right_middle_content .postContent_right_middle_text .postContent_right_middle_more .postContent_right_middle_more_btn .postContent_right_middle_more_text { display: inline-block; color: #8e8e8e; font-weight: 600; font-size: 12px;}

.postContent_right_bottom { font-size: 16px; }
.postContent_right_bottom .postContent_right_bottom_contentInfo { position: relative; padding: 12px 0 12px 16px; border-bottom: 1px solid #efefef;}
.postContent_right_bottom .postContent_right_bottom_contentInfo .postContent_right_bottom_right_icon { position: absolute; top: 12px; right: 15px;}
.postContent_right_bottom .postContent_right_bottom_contentInfo .postContent_right_bottom_liked { color: #262626; font-weight: 600; font-size: 14px; margin-top: 7px; margin-bottom: 12px; }
.postContent_right_bottom .postContent_right_bottom_contentInfo .postContent_right_bottom_time { font-size: 10px; color: #8e8e8e; }
.postContent_right_bottom .postContent_right_bottom_comment { position: relative; height: 56px;}
.postContent_right_bottom .postContent_right_bottom_comment textarea {border: 0; height: 18px; line-height: 23px; padding:18px 46px 0px  16px; resize: none; height: 100%; width: 335px; box-sizing: border-box;}
.postContent_right_bottom .postContent_right_bottom_comment textarea:focus { outline: none; }
.postContent_right_bottom .postContent_right_bottom_comment button { position: absolute; top: 50%; transform: translateY(-50%); right: 17px; border: 0; background: 0; color: #0095f6; opacity: .3; font-size: 14px; font-weight: 600;}
/* test */
.test { display: block;}

/* mediaquery */
@media(max-width : 935px){
  .h_left {padding-left: 20px;}
  .h_right { right: 20px;}
  .container { width: 100%;}
}

@media(max-width : 735px) {
  .modal_size { width: 260px; }
  .modal_size_cancel { width: auto; }
  .postContent_right { display: none; }
  .postContent_left { width: 100%; }
}

@media(max-width : 575px){
  .h_center { display: none;}
}
