


/*메뉴바*/
.menuBar{height: 52px;
	border-top: 1px solid #dbdbdb;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 600;
	text-align: center;}
.menuBar_one{display: inline-block;  margin: -1px 30px 0px 30px; 
	   width: 57px; height: 52px; line-height: 52px; align-items: center; color: #8e8e8e;}
.menuBar_one.clicked{border-top: 1px solid #262626; color: #262626;}
.menuBar_icon{display: inline-block; height: 12px; width: 12px;}			
.menuBar_pic{height: 18px; width: 57px;}
.munuBar_manuName{ text-align: center;}


/*갤러리*/
.gallery_line{ max-width: 935px; max-height:293px; width: 100%;  height: 100%; display:flex; margin-bottom: 28px;}
.gallery_match{max-width: 293px; max-height:293px; margin-right: 28px; position: relative; }
.gallery_match:last-child{margin-right: 0px;}
.gallery_heart_info{ max-height: 293px; max-width: 293px; text-align:center; width:100%; height: auto; 
	position: absolute; padding: 50% 0; color: rgba(0,0,0,0); }
.gallery_heart_icon{height: 17px; width: 17px;}
.gallery_one{max-width: 293px; max-height:293px;}
.gallery_one:last-child{ width: 100%; height: 100%;}
.gallery_item{max-width: 293px; max-height:293px; width: 100%;height:100%;}
.gallery_heart_info:hover{ font-size: 17px; font-weight: 200; color:rgba(255,255,255,1);}
.my:hover{ filter: brightness(70%);}
.gallery_bookmark{margin: 32px 0 16px 0;}
.gallery_bookmark_text{font-size: 12px; line-height: 14px; color: #8e8e8e;}



/*갤러리에 내용이 없는 경우*/
.gallery_no{text-align: center;}
.gallery_no_main{display: flex;}
.gallery_no_main_box{max-height: 380px; height: 380px; width: 100%; display:inline-block; background-color: white;}
.gallery_no_main_info{padding: 0 20px; text-align: center; }
.gallery_no_main_info_box{ margin-top: 30%;}  
.gallery_no_main_info_pic{height: 40px;}
.gallery_no_main_logo{margin-top: 25px;}
.gallery_no_main_text_big{font-size: 18px; font-weight: 600;}
.gallery_no_main_text_small{font-size: 16px; margin-top: 10px;}
.gallery_no_main_pic{max-width: 380px; max-height: 380px;  }
.gallery_no_main_pic_pic{width: 100%; height: 100%;}

.gallery_no_content{max-width: 350px; margin: 60px 44px; text-align: center; display:inline-block;}
.gallery_no_content_info{margin: 24px 0;}
.gallery_no_content_info_text{font-size: 28px; line-height: 32px; margin: -5px 0 -6px;}
.gallery_no_content_con{margin-bottom: 24px;}
.gallery_no_content_con_text{font-size: 14px; line-height: 18px;margin: -3px 0 -4px;}

/*모달*/
.post_modal{margin: auto; max-width: 935px; width: 100%;}


/*푸터*/
.post_footer{text-align: center; margin: 16px 0;}
.post_footer_info{margin-bottom: 5px;}
.post_footer_info ul { font-size: 0; width: 100%;}
.post_footer_info li { color: #c7c7c7; font-size: 13px; font-weight: 400; line-height: 13px; display: inline-block;}
.post_footer_info li::after { content: '\00B7'; margin: 0 2px; }
.post_footer_info li:last-child::after { content: ''; }



/*반응형(작은화면일때 설정)*/

/*사진크기 줄어들기*/
@media (max-width: 990px){
.gallery_one{display: inline-flex; width: auto; height: auto;  }
  }


@media (max-width: 735px)
{
/*사진간 간격 사라짐*/
.gallery_line{margin-bottom: 0;}
.gallery_match{ margin-right: 0;}
.gallery_no_main_box{height: 100%;}

/*메뉴바 모습 변동*/
.menuBar{height: 44px;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	letter-spacing: 1px;
	font-weight: 300;
	text-align: center;}
.menuBar_one.clicked{ border-top:none; color:rgb(0, 149, 246);}
.menuBar_pic{height: 18px; width: 57px;}
.menuBar_one{ height: 44px; width: 30%; margin: 0;}
.menuBar_icon{height: 24px; width: 24px; padding: 10px 0 0 0;}
.munuBar_manuName{display: none;}
}