.fa,.fab,.fad,.fal,.far,.fas{
	font-family: serif;
}

.write-maincontents {
	width: 935px;
}

.write-userTagSection,
.write-userLocationSection,
.write-DiscriptionContainer {
	margin: 20px 0px;
}

.write-userTagSection > p,
.write-userLocationSection > p{
	width: 185px;
}

/* 게시글 타이틀 */
.write-photo-title > p {
	font-size: 28px;
}

/* 사진 */
.write-photoContainer {
	margin: 20px 0px;
}

.write-photoContainer > div {
    display: inline-block;
    
    height: 298px;
    margin-right: 15px;
    box-shadow: 0px 0px 20px #abacad; /* x축, y축, 흐림정도, 색상 */
}

/* 사진 */
.write-showPhoto {
	position: relative;	
}

.write-showPhoto > .fa-times {
	position: absolute;
	top: -4.5%;
    left: -4.5%;
	
    font-size: 20px;
    color: black;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.85);
    padding: 7px 10px;
}

.write-showPhoto > img {
	width: 298px;
	height: 298px;
}

/* 사진 추가 버튼 */
.write-addPhoto {
    width: 298px;
    margin-right: 0px!important;
    position: relative;
}

.write-addPhoto > .fa-plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);	
    
	border: 2px solid #2f2e2f;
    border-radius: 50%;
    padding: 30px;
    color: #2f2e2f
}

.write-DiscriptionContainer > p {
    padding: 4px 0px 0px 4px;
}
.write-DiscriptionContainer > textarea {
	border-color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    width: 929px;
    height: 100px;
    resize: none;
    margin-top: 10px;
}

/* 사람태그&위치 */
.write-userTagSection,
.write-userLocationSection {
	width: 935px;
}

.write-userTagSectionContainer,
.write-userLocationSectionContainer {
	position: relative;
}

.write-userTagSectionContainer > p,
.write-userLocationSectionContainer > p {
	display: inline-block;
	
    padding: 4px 0px 0px 4px;
}

.write-userTagSectionContainer > .fas,
.write-userLocationSectionContainer > .fas {
	display: inline-block;
	
	position: absolute;
    right: 1%;
    top: 10%;
}