.fa,.fab,.fad,.fal,.far,.fas{
	font-family: serif;
}

.write-maincontents {
	width: 935px;
}

.write-userTagSection, .write-userLocationSection {
	margin: 20px 0px;
}

.write-userTagSection > p,
.write-userLocationSection > p{
	width: 185px;
}

/* 게시글 타이틀 */
.write-photoAndDiscription-title > p {
	font-size: 28px;
}

/* 사진&설명 */
.write-photoAndDiscriptionContainer {
	margin: 20px 0px;
}

.write-photoAndDiscriptionContainer > div {
	display: inline-block;
    height: 300px;
}

.write-photoContainer {
    width: 300px;
    margin-right: 15px;
    position: relative;
}

.write-photoContainer > img {
	width: 300px;
	height: 300px;
	border: 1px solid #2f2e2f;
	border-radius: 5px;
	opacity: 0.1;
}

.write-photoContainer > .fa-plus {
    position: absolute;
    transform: 50%, 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);	
    
	border: 2px solid #2f2e2f;
    border-radius: 50%;
    padding: 30px;
    color: #2f2e2f
}

.write-DiscriptionContainer {
    width: 613px;
    position: relative;
}

.write-DiscriptionContainer > textarea {
	border-color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    width: 610px;
    height: 292px;
    resize: none;
    
    position: absolute;
}

/* 사람태그&위치 */
.write-userTagSection,
.write-userLocationSection {
	width: 935px;
}

.write-userTagSectionContainer,
.write-userLocationSectionContainer {
	position: relative;
}

.write-userTagSectionContainer > p,
.write-userLocationSectionContainer > p {
	display: inline-block;
	
    padding: 4px 0px 0px 4px;
}

.write-userTagSectionContainer > .fas,
.write-userLocationSectionContainer > .fas {
	display: inline-block;
	
	position: absolute;
    right: 1%;
    top: 10%;
}