/* maincontents */
.maincontents { float: left; display: inline-block; width: 614px; margin-right: 28px;}
/* story */
#mainSection {padding-top: 30px;}
.story {display: inline-block; overflow: hidden; border: 1px solid rgba(var(--b6a,219,219,219),1); border-radius: 3px; padding: 16px 0; margin-bottom: 24px; box-sizing: border-box; height: 118px; width: 614px;}
.story ul { padding-left: 8px; }
.story img { position: absolute; width: 56px; height: 56px; border-radius: 50%; border: 1px solid rgba(var(--b3f,250,250,250),1); box-sizing: border-box; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.story .story_item {display: inline-block; position: relative; width: 74.5px; height: 84px;}
.story .story_item p { font-size: 12px; margin-top: 8px; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); width : 80px; text-align: center;}
.story .story_size { width: 1000px;} /* js를 통해 길이가 변할 예정 */
.story .circle_background { position: absolute; left: 50%; transform: translateX(-50%);width: 60px; height: 60px; background: radial-gradient(circle at bottom left, #F58529 20%, #C42D91); border-radius: 50%; }

/* post */
.article { margin-bottom: 60px; width: 614px; display: inline-block; border: 1px solid #DBDBDB; background-color: white; border-radius: 3px;}
.post .article_header { position: relative; padding: 16px; width: 582px; height: 27px;}
.post .article_user_pos img { width: 32px; height: 32px; border-radius: 50%;}
.post .article_user_pos { display: flex; align-items: center;}
.post .article_user_pos span { margin-left: 15px;}
.post .article_more_pos .fa-ellipsis-h { cursor: pointer; position: absolute; top: 50%; right: 16px; transform: translateY(-50%);}

.post .article_img { position: relative; overflow: hidden; box-sizing: border-box; border-top: 1px solid #dbdbdb; border-bottom: 1px solid #dbdbdb;}
.post .article_img .article_img_size { transition: all 0.3s ease-in-out; width: 1842px; font-size: 0; margin-left:0;}
.post .article_img img {width: 614px; display: inline-block;}
.post .article_img .article_img_leftArrow { position: absolute; font-size: 20px; display: inline-block; width: 20px; height: 20px; border-radius: 50%; text-align: center; top: 50%; left: 10px; background-color: rgba(255,255,255,0.5); }
.post .article_img .article_img_leftArrow:hover{cursor: pointer;}
.post .article_img .article_img_rightArrow { position: absolute; font-size: 20px; display: inline-block; width: 20px; height: 20px; border-radius: 50%; text-align: center; top: 50%; right: 10px; background-color: rgba(255,255,255,0.5); }
.post .article_img .article_img_rightArrow:hover{cursor: pointer;}

.post .article_icons{position: relative; height: 40px;}
.post .article_icons .left_icon { display: inline-block; position: absolute; left: 16px; top: 50%; transform: translateY(-50%);}
.post .article_icons .left_icon span { display: inline-block; margin: 0 5px 0 5px;}
.post .article_icons .right_icon {position: absolute; right: 16px; top: 50%; transform: translateY(-50%); font-weight: 600;}

.post .article_reaction { padding: 0 16px;}
.post .article_reaction .liked .liked_count { font-weight: bold; font-size: 14px; color: #262626;}
.post .article_reaction .user_name { font-weight: 600; font-size: 12px;}
.post .article_reaction .description {font-size: 12px; margin-top: 13px; margin-bottom: 8px;}
.post .article_reaction .comments { font-size: 12px;}
.post .article_reaction .time_log { color: rgba(var(--f52,142,142,142),1); font-size: 9px; margin-top: 11px;}

.post .user_comment { margin-top: 12px; border-top: 1px solid #dbdbdb; padding: 0 16px; min-height: 56px; display: flex; align-items: center;}
.post .user_comment .user_text { resize: none; max-height: 80px;}
.post .user_comment textarea { overflow: hidden; float: left; height: 18px; width: 555px; box-sizing: border-box; border: 0}
.post .user_comment button { font-weight: bold; opacity: .3; color: #0095f6; border: 0; background: 0; padding: 0}

/* maincontents */
.subcontents { position: fixed; top: 106px;}

/* sub_user_info */
.sub_user_info .sub_user_content .sub_user_img { display: inline-block; vertical-align: middle; }
.sub_user_info .sub_user_img img { width: 56px; height: 56px; border-radius: 50%;}
.sub_user_info .sub_user_content .sub_user_name { display: inline-block; vertical-align: middle; margin: 0 120px 0 12px;}
.sub_user_info .sub_user_content .sub_user_name_nickName {margin-bottom: 4px;}
.sub_user_info .sub_user_content .sub_user_name_nickName p { font-weight: 600; text-overflow: ellipsis; color: #262626; font-size: 14px;}
.sub_user_info .sub_user_content .sub_user_name_realName p { font-size: 14px; font-weight: 400; color: #8e8e8e;}
.sub_user_info .sub_user_content .sub_user_change { display: inline-block; vertical-align: middle; }
.sub_user_info .sub_user_content .sub_user_change button { border: none; background: 0; color: #0095f6; font-weight: 600; font-size: 12px;}

.user_Recommendation { margin-top: 20px; margin-bottom: 29px;}
.user_Recommendation .user_Recommendation_texts .user_Recommendation_text { font-size: 14px; line-height: 18px; font-weight: 600; color: #8c8c8c; margin-right: 117px;}
.user_Recommendation .user_Recommendation_texts .user_Recommendation_more { font-size: 12px; line-height: 14px; font-weight: 600; color: #262626; }

.user_Recommendation .user_Recommendation_info { margin-top: 16px; padding-left: 4px;}
.user_Recommendation .user_Recommendation_info .user_Recommendation_info_content { margin-bottom: 12px;}
.user_Recommendation .user_Recommendation_info .user_Recommendation_info_content:last-child { margin-bottom: 0;}
.user_Recommendation .user_Recommendation_info .user_Recommendation_info_img { margin-right: 5px; display: inline-block; vertical-align: middle;}
.user_Recommendation .user_Recommendation_info .user_Recommendation_info_img img { width: 32px; height: 32px; border-radius: 50%; border: 1px solid #fafafa; }
.user_Recommendation .user_Recommendation_info .user_Recommendation_info_name { margin-right: 95px; display: inline-block; vertical-align: middle; }
.user_Recommendation .user_Recommendation_info .user_Recommendation_info_name .user_Recommendation_info_name_nick { color: #262626; font-weight: 600; font-size: 14px; margin-bottom: 4px;}
.user_Recommendation .user_Recommendation_info .user_Recommendation_info_name .user_Recommendation_info_name_text { font-size: 12px;line-height: 14px; color: #8c8c8c; font-weight: 400;}
.user_Recommendation .user_Recommendation_info .user_Recommendation_info_button { display: inline-block; vertical-align: middle;}
.user_Recommendation .user_Recommendation_info .user_Recommendation_info_button button { border: 0; background: 0; color: #0095f6}

#footer .footer_info { margin-bottom: 16px;}
#footer .footer_info ul { font-size: 0; width: 292px;}
#footer .footer_info li { color: #c7c7c7; font-size: 11px; font-weight: 400; line-height: 13px; display: inline-block;}
#footer .footer_info li::after { content: '\00B7'; margin: 0 2px; }
#footer .footer_info li:last-child::after { content: ''; }
#footer .footer_source { font-size: 11px; font-weight: 400; line-height: 13px; color: #c7c7c7; }

/* 모달 */
.modal_post_btn { height: 48px; padding: 4px 8px; box-sizing: border-box; line-height: 40px; text-align: center; border-bottom: 1px solid rgb(219,219,219)}
.modal_post_btn:last-child { border: 0 }
.btn_color_red { color: rgba(var(--i30,237,73,86),1);}

/* mediaquery */
@media(max-width : 935px){
  .maincontainer { width: 614px; }
  .subcontents { display: none; }
}

@media(max-width : 575px){
  .maincontainer { width: 100%; }
  .story, .article { width: 100%;}
}
